
@font-face {
    font-family: "Source Han Serif JP Bold";
    src: url("./SourceHanSerifJP-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Han Serif JP";
    src: url("./SourceHanSerifJP-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "YuGothM";
    src: url("./YuGothM.otf");
    font-weight: normal;
    font-style: normal;
}