.row{
    display: flex;
    flex-wrap: wrap;
}
.row.inline{
    display: inline-flex
}

.row.reverse{
    flex-direction: row-reverse
}

.flex{
    display: flex
}

.column{
    flex-direction: column
}

.wrap{
    flex-wrap: wrap
}

.no-wrap{
    flex-wrap: nowrap
}

.reverse-wrap{
    flex-wrap: wrap-reverse
}

.justify-start{
    justify-content: flex-start
}

.justify-end{
    justify-content: flex-end
}

.justify-center{
    justify-content: center
}

.justify-between{
    justify-content: space-between
}

.justify-around{
    justify-content: space-around
}

.justify-evenly{
    justify-content: space-evenly
}

.items-start{
    align-items: flex-start
}

.items-end{
    align-items: flex-end
}

.items-center{
    align-items: center
}

.items-baseline{
    align-items: baseline
}

.items-stretch{
    align-items: stretch
}

.content-start{
    align-content: flex-start
}

.content-end{
    align-content: flex-end
}

.content-center{
    align-content: center
}

.content-stretch{
    align-content: stretch
}

.content-between{
    align-content: space-between
}

.content-around{
    align-content: space-around
}

.self-start{
    align-self: flex-start
}

.self-end{
    align-self: flex-end
}

.self-center{
    align-self: center
}

.self-baseline{
    align-self: baseline
}

.self-stretch{
    align-self: stretch
}

.relative-position{
    position: relative
}

.flex-shrink {
    flex-shrink: 0
}
